.saveResult, .searchResult{
  margin-bottom: 2em;
  padding: 10px 20px;
  background-color: whitesmoke;
  border: .5px red solid;
  border-radius: 15px;
}
.titleArea{
  padding: 10px 40px;
}

.bookTitle{
  font-size: 28px;
}

.bookAuthor{
  text-indent: 20px;
  margin-top: 1em;
  color: #333;
}

.resultFlex{
  margin-top: 2em;
  display: flex;
  align-items: flex-start;
}

.resultFlex img{
  outline: 1px black solid;
}

.resultFlex img{
  margin-right: 30px;
}

.desTitle{
  margin-bottom: 1em;
  text-decoration: underline;
}

.description{
  text-indent: 20px;
  font-size: 18px;
}

.saveBtn{
  padding: 10px 15px;
  font-size: 16px;
  background-color: lightcyan;
  color: black;
  outline: none;
  display: block;
  margin: auto;
  border: 1px black solid;
}

.saveBtn:hover{
  transform: scale(1.05);
  box-shadow: 3px 3px 5px black;
  transition: all, .25s;
}

.saveBtn:active{
  transform: scale(.95);
  background-color: #490202;
  transition: all, .25s;
}