.searchBar{
  margin-bottom: 2em;
}

form{
  background-color: whitesmoke;
  padding: 30px 40px 40px 40px;
  border-radius: 15px;
  border: .5px red solid;
}

.searchGroup{
  width: 90%;
  display: flex;
  margin: auto;
}

.searchInput{
  width: 90%;
  padding: 12px;
  font-size: 20px;
}

.searchBtn{
  font-size: 18px;
  background-color: white;
  border: .5px black solid;
  outline: none;
}

.buttonArea{
  width: 90%;
  margin: auto;
}

.typeBtn{
  font-size: 22px;
  padding: 2px 6px;
  background-color: white;
  border: .5px black solid;
  outline: none;
  padding: 5px;
}

.active{
  background-color: rgb(73, 2, 2);
  color: white
}

.searchBtn:hover{
  background-color: rgb(73, 2, 2);
  color: white
}