header{
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: baseline;
  background-color: rgb(73, 2, 2);
  color: white;
  margin-bottom: 3em;
}

nav ul{
  display: flex
}

nav ul li:nth-child(1){
  margin: 0 10px 0 40px;
}

nav li a{
  color: white;
  text-decoration: none;
}